/* --- Fonts --- */
@font-face {
    font-family: "8bit";
    src: url('/src/assets/fonts/PressStart2P-Regular.ttf');
    font-display: swap;
}

/* --- Page Structure --- */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 20% 5% 55% 20%;
    font-family: "8bit";
}

/* --- Header --- */
.header {
    background-color: #87ccf8;
    background-image: url(./assets/images/pixel-art-header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    width: 100%;
    grid-row: 1;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    overflow: hidden;
}

.header-title {
    font-size: 1.8rem;
    font-family: "8bit";
    color: black;
    position: relative;
    top: -25%;
    left: 5%;
}

.pop {
    color: #1E9CED;
}

.subheader {
    /* background-color: rgb(255,248,199);  */
    background: linear-gradient(to bottom, rgb(255,248,199), rgb(13,131,62));
    width: 100%;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.subheader > div {
    display: flex;
}

#task-count {
    margin-right: 5px;
}

/* --- Main Content --- */
.content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    grid-row: 3;
    width: 100%;
    grid-template-rows: 75px auto;
    row-gap: 5px;
    flex-direction: column;
    padding: 15px 15px 0 15px;
    overflow-x: hidden;
    background-color: #d7d7d7;
}
.task-container, .tab-container {
    width: 100%;
}

.task-container > .nes-container.is-rounded {
    padding: 0;
    margin-bottom: 20px;
}

/* 1 - Tabs */
.tab-container {
    /* need to stop scrolling here */
    /* overflow: scroll; */
    flex-shrink: 0; 
}

.tab--active {
    background-color: #1E9CED;
    height: 2.5rem;
}

.tab--active:focus {
    outline: none;
}

/* 2 - Tasks */
.task-container {
    flex-shrink: 1; 
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #bdae58;
    box-shadow: inset 3px 3px rgba(0, 0, 0, 0.15);
    margin-top: 15px;
}

.task {
    display: grid;
    grid-template-columns: 10% 10% 35% 45%;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60px;
    max-height: 70px;
    font-size: 0.8rem;
    margin-bottom: 25px;
    background-color: white;
}

.task--completed {
    background-color: rgb(105,183,104);
}

.task__priority {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin: 0;
}

.task__checkbox {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding-bottom: 7px;
}

.task__title {
    grid-column: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.task__controls {
    grid-column: 4;
    display: flex;
    justify-content: flex-end;
}

.task__title > p {
    font-size: 0.5rem;
}

.task-btn {
    width: 50px;
    margin: 0 10px;
    font-size: 0.4rem;
}

/* --- TODO Controls --- */
.todo-controls {
    grid-row: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #d7d7d7;
}

.warning-result {
    color: red;
    font-size: 0.6rem;
    padding: 10px 0 0 90px;
}

.project-manager-icon {
    max-width: 50px;
    max-height: 50px;
}

.project-manager-btn:focus {
    outline: none;
}

.add-project-btn, .add-project-icon {
    max-width: 40px;
    max-height: 40px;
    padding-bottom: 4px;
    border: none;
    background-color: #d7d7d7;
    /* background-color: #EEEEEE; */
    /* background-color: #B5B6B8; */
}

.add-project-btn:focus {
    outline: none;
}

.add-btn, .project-manager-btn {
    width: 70px;
    height: 70px;
    font-size: 1.5rem;
}

.AB-btns {
    width: 200px;
    height: 90px;
    background: #DFDFDF;
    border-radius: 30px;
    transform: rotate(-25deg);
}

.AB-btns > button {
    border: none;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background: #A93671;
    position: relative;
    left: 23px;
    top: 8px;
}

.AB-btns > button:active {
    box-shadow: inset 0px 0px 5px #ee56a4;
}

.AB-btns > button:focus {
    outline: none;
}

.pad {
    width: 100px;
    height: 100px;
    margin: 40px 0 0 50px;
}

.vertical {
    bottom: 20px;
}

.horizontal {
    bottom: 120px;
}
  
.vertical,
.horizontal {
    position: relative;
    width: 35px;
    height: 100px;
    background: #444;
    border-radius: 5px;
}

.horizontal {
    transform: rotate(90deg);
}

/* --- Dialogs/Modals --- */
.required-symbol {
    color: #1E9CED;
}

input[type="text"]:disabled {
    background-color: rgb(183, 183, 183);
}

.dialog-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-title {
    font-size: 1.2rem;
    color: #1E9CED;
    text-decoration: underline;
}

.dialog-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.info-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.info-title {
    font-size: 1.1rem;
}

form label {
    margin-top: 15px;
    font-size: 0.8rem;
}

/* --- Media Queries --- */
@media (min-width: 640px){
    .header-title {
        font-size: 2.5rem;
    }

    /* .content {
        padding: 50px 25px;
    } */

    .task__priority {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px){
    .header-title {
        font-size: 3rem;
    }
}