/* --- Fonts --- */
@font-face {
    font-family: "8bit";
    src: url('/src/assets/fonts/PressStart2P-Regular.ttf');
    font-display: swap;
}

/* --- Page Structure --- */
h1, h2, h3, h4, h5, h6, p, body {
    margin: 0;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 15% 5% 50% 25% 5%;
    font-family: "8bit";
}

/* --- Header --- */
.header {
    background-color: #87ccf8;
    background-image: url(./assets/images/pixel-art-header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    width: 100%;
    grid-row: 1;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    overflow: hidden;
}

.header-title {
    font-size: 1.8rem;
    font-family: "8bit";
    color: black;
    position: relative;
    top: -25%;
    left: 5%;
}

.pop {
    color: rgb(237,231,66);
}

.subheader {
    background: linear-gradient(to bottom, rgb(255,248,199), rgb(13,131,62));
    width: 100%;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.subheader > div {
    display: flex;
}

#task-count {
    margin-right: 5px;
}

/* --- Main Content --- */
.content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    grid-row: 3;
    width: 100%;
    grid-template-rows: 75px auto;
    row-gap: 5px;
    flex-direction: column;
    padding: 15px 15px 0 15px;
    overflow-x: hidden;
    background-color: #d7d7d7;
}

/* 1 - Tabs */
.tab-container {
    flex-shrink: 0; 
}

.task-container, .tab-container {
    width: 100%;
}

.tab-btn {
    padding: 3px;
}

.tab--active {
    background-color: rgb(105, 183, 104);
    height: 2.5rem;
    box-shadow: none;
}

.tab--active:hover {
    background-color: rgb(86, 153, 85);
    box-shadow: inset -4px -4px #508b4f;
    outline: none;
}

.tab--active:focus {
    outline: none;
}

/* 2 - Tasks */
.task-container {
    flex-shrink: 1; 
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #bdae58;
    box-shadow: inset 3px 3px rgba(0, 0, 0, 0.15);
    margin-top: 15px;
    height: 500px;
}

.task-container > .nes-container.is-rounded {
    padding: 0;
    margin-bottom: 20px;
}

.task {
    display: grid;
    grid-template-columns: 7% 7% 51% 35%;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 60px;
    max-height: 70px;
    font-size: 0.8rem;
    margin-bottom: 25px;
    background-color: white;
}


.task__priority {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin: 0;
}

.task__checkbox {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding-bottom: 7px;
}

.task__title {
    grid-column: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.task__controls {
    grid-column: 4;
    display: flex;
    justify-content: flex-end;
}

.task__title > p {
    font-size: 0.6rem;
}

.task-btn {
    width: 50px;
    margin: 0 10px;
    font-size: 0.4rem;
}

#info-btn, #delete-btn {
    width: min-content;
    padding: 0 6px;
}

.task--completed {
    background-color: rgb(105,183,104);
}

/* --- TODO Controls --- */
.todo-controls {
    position: relative;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 200px 80px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    background-color: #d7d7d7;
}

/* todos 1 */
.pad {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 80px;
    height: 80px;
}
  
.vertical,
.horizontal {
    position: relative;
    width: 30px;
    height: 100px;
    background-color: #444;
    border-radius: 5px;
}

.vertical {
    bottom: 20px;
}

.horizontal {
    bottom: 120px;
    transform: rotate(90deg);
}

/* todo 2 */
.power-btns {
    grid-row: 2;
    grid-column: 2;
    position: absolute;
    bottom: 30%;
    left: 5%;
    margin: 20px auto;
    height: 12px;
    width: 60px;
    background-color: #999;
    border-radius: 10px;
    transform: rotate(-25deg);
    box-shadow: 57px 27px #999, 0 0 0 5px #dfdfdf, 57px 27px 0 5px #dfdfdf;
}
  
/* todo 3 */
.AB-btns {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 10%;
    width: 160px;
    height: 60px;
    margin: 70px 30px 0 0;
    background-color: #DFDFDF;
    border-radius: 30px;
    transform: rotate(-25deg);
}

.AB-btns > button {
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #A93671;
}

.AB-btns > button:hover {
    background-color: #882c5c;
}

.AB-btns > button:focus {
    outline: none;
}

.project-manager-icon {
    max-width: 35px;
    max-height: 35px;
}

.project-manager-btn:focus {
    outline: none;
}

.add-btn, .project-manager-btn {
    width: 40px;
    height: 40px;
    transform: rotate(-5deg);
}

.add-btn {
    font-size: 1.5rem;
}

/* todo extras */
.add-project-btn, .add-project-icon {
    max-width: 40px;
    max-height: 40px;
    padding-bottom: 4px;
    border: none;
    background-color: #d7d7d7;
}

.add-project-btn:focus {
    outline: none;
}

/* --- Footer --- */
footer {
    grid-row: 5;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    background-color: #444;
    color: white;
    font-size: 0.8rem;
}

/* --- Dialogs/Modals --- */
/* .add-project-container, 
.info-container, 
.edit-container,
.project-manager-container,
.task-add-container {
    display: none;
} */

.required-symbol {
    color: #1E9CED;
}

.warning-result {
    color: red;
    font-size: 0.6rem;
    padding: 10px 0 0 90px;
}

input[type="text"]:disabled {
    background-color: rgb(183, 183, 183);
}

.dialog-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-title {
    font-size: 1.2rem;
    color: #444;
    text-decoration: underline;
}

.dialog-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.info-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.info-title {
    font-size: 1.1rem;
}

form label {
    margin-top: 15px;
    font-size: 0.8rem;
}

/* --- Media Queries --- */
@media (min-width: 640px){
    .header-title {
        font-size: 2.5rem;
    }

    .task__priority {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .power-btns {
        left: 10%;
    }

    .AB-btns {
        right: 5%;
        width: 170px;
        height: 70px;
    }
    
    .AB-btns > button {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 768px){
    .header-title {
        font-size: 3rem;
    }

    .task-container {
        width: 850px;
        margin: 0 auto;
    }

    .tab-container {
        margin: 10px 10px;
    }

    .todo-controls {
        margin: 0 auto;
    }

    .pad {
        left: 30%;
    }

    .power-btns {
        left: 20%;
    }

    .AB-btns {
        right: 30%
    }
}

@media (min-width: 1024px){
    .AB-btns {
        right: 60%
    }
}