@font-face {
    font-family: "8bit";
    src: url('/src/assets/fonts/PressStart2P-Regular.ttf');
}

/* Page Structure */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 15% 5% 60% 20%;
    font-family: "8bit";
}

.header {
    background-color: #87ccf8;
    background-image: url(./assets/images/pixel-art-header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    width: 100%;
    grid-row: 1;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    font-family: "8bit";
}

.header-title {
    color: #1E9CED;
}

.pop {
    color: black;
}

.subheader {
    /* background-color: rgb(163, 163, 163); */
    background-color: rgb(255,248,199);
    /* CREAM = rgb(255,248,199) */
    width: 100%;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

.subheader > div {
    display: flex;
    overflow: hidden;
}

#task-count {
    margin-right: 5px;
}

/* Main Content */

.content {
    grid-row: 3;
    width: 100%;
    display: grid;
    grid-template-rows: 75px auto;
    grid-auto-rows: 50px;
    row-gap: 15px;
    flex-direction: column;
    padding: 50px 20px;
    overflow-x: hidden;
    background-color: white;
}

.tab--active {
    background-color: #1E9CED;
    height: 2.5rem;
}

.tab--active:focus {
    outline: none;
}

.project-manager-btn, .project-manager-icon {
    max-width: 80px;
    max-height: 80px;
    border: none;
    background-color: white;
}

.project-manager-btn:focus {
    outline: none;
}

.add-project-btn, .add-project-icon {
    max-width: 40px;
    max-height: 40px;
    padding-bottom: 4px;
    border: none;
    background-color: white;
}

.add-project-btn:focus {
    outline: none;
}

/* .tab-container {

} */

/* Tasks */
.task {
    display: grid;
    width: 85%;
    min-height: 50px;
    grid-template-columns: 10% 40% 50%;
    align-items: center;
    padding: 0 15px;
    font-size: 0.8rem;
    background-color: white;
}

.task--completed {
    background-color: rgb(105,183,104);
    /* DARK GREEN = rgb(13,131,62) OR #0D833E*/
    /* LIGHT GREEN = rgb(105,183,104) OR #69B768 */
}

.task__checkbox {
    grid-column: 1;
    margin: 0;
}

.task__desc {
    grid-column: 2;
}

.task__controls {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
}

.task__title > p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    font-size: 0.5rem;
}

.task-btn {
    width: 80px;
    margin: 0 10px;
    font-size: 0.5rem;
}

/* Todo Controls */

.todo-controls {
    grid-row: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

.add-btn {
    width: 70px;
    height: 70px;
}

.warning-result {
    color: red;
    font-size: 0.6rem;
    padding: 10px 0 0 90px;
}

/* --- Dialogs/Modals --- */

/* Info Modal */
.info-form-header {
    display: flex;
    justify-content: space-between;
}

.required-symbol {
    color: #1E9CED;
}

.dialog-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-title {
    font-size: 1.2rem;
    color: #1E9CED;
    text-decoration: underline;
}

form label {
    margin-top: 15px;
    font-size: 0.8rem;
}

#project_field {
    margin-bottom: 30px;
}

.dialog-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

@media (min-width: 390px){
    .task {
        width: 90%;
    }
}

@media (min-width: 430px){
    .task {
        width: 95%;
    }
}